/* App.css */

.app {
  background-color: #eaf6ff; /* Ice blue background */
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.navbar {
  width: 10%; /* Left side navigation bar */
  /* Navigation bar styles */
  background-color: rgb(146, 215, 215);
  display: inline-block;
  text-align:
}

.content {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.search-bar {
  background-color: white;
  /* Search bar styles */
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  /* Logo styles */
}

ul{
  list-style: none;
  margin-top: auto;
}

li{
  margin-bottom: auto;
  cursor: pointer;
}